.side-menu {
    position: fixed;
    top: 0;
    left: -10vw;
    /* Ẩn menu ra ngoài */
    width: 20vw;
    height: 100vh;
    background-color: #fcfcfc;
    transition: left 0.3s ease;
    overflow: auto;
    z-index: 1000;
    /* Giúp menu nằm trên tất cả */

    form {
        padding: 1vw;

        button {
            width: 100%;
            margin-top: 1vh;
        }
    }

    .error-msg {
        width: 100%;
        color: red;
        font-size: 14px;
        font-weight: 600;
    }
}

.side-menu:hover {
    left: 0;
    /* Trượt vào khi hover */
}

.main {
    display: flex;
    margin-left: 10vw;

    .preview {

        width: 50vw;
        text-align: center;

        .prev-next {
            a {
                text-decoration: none;
                display: inline-block;
                padding: 2px 8px;
                border-radius: 3px;
                margin: 5px;
                border: 1px solid black;
                background-color: white;
                color: black;
                cursor: pointer;
            }

            a:hover {
                background-color: #fbff00;
                color: black;
            }
        }

        .pdf-container {
            width: 100%;
            height: 800px;
            background-color: #e4e4e4;
            overflow-y: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .entry {
        border: 1px solid red;
        width: 40vw;



        margin: 0;
        font-family: Arial, Helvetica, sans-serif;


        .header {
            overflow: hidden;
            background-color: #f1f1f1;
            padding: 2px 10px;
        }

        .header a {
            float: left;
            color: black;
            text-align: center;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            line-height: 25px;
            border-radius: 4px;
        }

        .header a.logo {
            font-size: 25px;
            font-weight: bold;
        }

        .header a:hover {
            background-color: #ddd;
            color: black;
        }

        .header a.active {
            background-color: dodgerblue;
            color: white;
        }

        .header-right {
            float: right;
        }
    }
}