body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -150px; /* Ẩn menu ra ngoài */
  width: 300px;
  height: 100vh;
  background-color: #fcfcfc;
  transition: left 0.3s ease;
  overflow: hidden;
  z-index: 1000; /* Giúp menu nằm trên tất cả */
}

.side-menu:hover {
  left: 0; /* Trượt vào khi hover */
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 60px;
}

.side-menu li {
  border-bottom: 1px solid #444;
}

.side-menu a {
  display: block;
  /* color: white; */
  padding: 15px 20px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.side-menu a:hover {
  background-color: #555;
}
